nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #3b3b3b;
    color: orange;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    justify-content: center;
}
html {
    text-align: center;
}
p {
    text-align: left;
    text-indent: 2em;
    margin-left: 20%;
    margin-right: 20%;
}
footer {
    text-indent:0px;
    font-size: 12px;
    color: rgb(59, 52, 52);
    text-align: center;
    padding: 0px 0;
    position: fixed;
    bottom: 0;
    width: 165%;
}
